{:builds
   {:client
    {:modules {:client {:init-fn client.client/init}},
     :output-dir "build/public/js",
     :target :browser},
    :server
      {:main server.server/init,
       :output-to "build/server.js",
       :target :node-script}
    :test
      {:output-to "out/node-tests.js"
       :autorun true
       :target :node-test}},
 :dependencies [],
 :dev-http {8080 "build/public"},
 :source-paths ["src"]}