;; shadow-cljs configuration
{:source-paths
           ["src"]

 :dependencies
           []
 :dev-http {8080 "public"}
 :builds   {:client {:target  :browser
                     :modules {:main {:init-fn client.client/init}}}
            :server {:target    :node-script
                     :main      server.server/init
                     :output-to "built-server/server.js"}}}
