;; shadow-cljs configuration
{:builds
   {:client {:modules {:main {:init-fn client.client/init}}, :target :browser},
    :server
      {:main server.server/init,
       :output-to "built-server/server.js",
       :target :node-script}},
 :dependencies [],
 :dev-http {8080 "public"},
 :source-paths ["src"]}
